.ticket__check,
.ticket__info_wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(241, 235, 230, 0.95);
}

.ticket__check {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.ticket__check::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../../img/border-top.png);
  background-size: 10px 3px;
}

.ticket__check::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../../img/border-bottom.png);
  background-size: 10px 3px;
}

.ticket__info_wrapper {
  position: relative;
  margin-top: 6px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.ticket__info_wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../../img/border-top.png);
  background-size: 10px 3px;
}

.ticket__info_wrapper::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../../img/border-bottom.png);
  background-size: 10px 3px;
}

.ticket__check_title {
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #C76F00;
}

.ticket__info {
  font-size: 1.6rem;
  color: #000000;
}

.ticket__info+.ticket__info {
  margin-top: 1rem;
}

.ticket__details {
  font-weight: 700;
  margin-left: 0.5rem;
  /*my*/
}

/*my*/
.ticket__chairs::after {
  content: ',';
}

/*my*/
.ticket__chairs:last-child::after {
  content: '';
}

.ticket__hint {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.ticket__hint+.ticket__hint {
  margin-top: 1rem;
}

.ticket__info_qr {
  display: block;
  margin: 3rem auto 0;
  width: 20rem;
  height: 20rem;
}

.accepting_button {
  display: block;
  margin: 3rem auto 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border: none;
  padding: 12px 57px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #16A6AF;
  color: #FFFFFF;
}

/*my*/
.accepting_button_disabled {
  background-color: #a4acac;
  color: #ffffff82;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 12px;
  text-align: center;
}

.paragraph.error {
  color: #800000;
}
