.bg {
  background-color: rgba(241, 235, 230, 0.95);
  height: 50vh;
  padding: 1px;
  margin-top: 3rem;
}

@media screen and (min-width: 990px) {
  .bg {
    width: 990px;
    margin: auto;
    border-radius: 2px;
  }
}
